DATABASE_URL=
DATABASE_PUBLIC_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
CLUB_ROGUE_RESERVATION_FEE_PAISE=5000
NEXT_PUBLIC_SITE_URL=
INTERAKT_API_KEY=
INTERAKT_BOOKING_TEMPLATE_NAME=cr_reservation_conformation_
INTERAKT_BOOKING_TEMPLATE_LANGUAGE_CODE=en
INTERAKT_EVENT_TEMPLATE_NAME=cr_reservation_conformation_
INTERAKT_EVENT_TEMPLATE_LANGUAGE_CODE=en
